@tailwind base;
@tailwind components;
@tailwind utilities;


.polyborder {
  clip-path: polygon(7% 0%, 100% 0%, 100% 75%, 93% 100%, 0% 100%, 0% 25%);
}

.tabborder {
  clip-path: polygon(13% 0%, 87% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Play";
  src: url("../public/assets/fonts/Play/Play-Bold.eot");
  src: local("../public/assets/fonts/Play/Play-Bold"),
    url("../public/assets/fonts/Play/Play-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/Play/Play-Bold.woff") format("woff"),
    url("../public/assets/fonts/Play/Play-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Molot";
  src: url('../public/assets/fonts/Molot.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Play";
  src: url("../public/assets/fonts/Play/Play.eot");
  src: local("../public/assets/fonts/Play/Play"),
    url("../public/assets/fonts/Play/Play.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/Play/Play.woff") format("woff"),
    url("../public/assets/fonts/Play/Play.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.carousel .slider-wrapper {
  display: none;
}

.carousel-slider {
  display: none;
}

.carousel .thumbs-wrapper {
  margin-left: 100px!important;
  margin-right: 100px!important;
}

.carousel .control-arrow {
  opacity: 1!important;
  transition: none!important;
  width: 53px;
  height: 50px;
  background-size: cover!important;
  margin-top: 0!important;
  top: 0!important;
}

.carousel .control-next {
  display: block!important;
  background-image: url('../public/assets/next.png')!important;
  
}

.carousel .control-prev {
  display: block!important;
  background-image: url('../public/assets/prev.png')!important;
}

.carousel .control-arrow::before {
  content: none!important;
}

.carousel .thumb {
  margin-left: 10px;
  width: 65px!important;
  height: 60px;
  opacity: 0.4;
  border: 3px solid #AB40FF!important;
  transition: 0.3s!important;
}

.carousel .thumb:hover {
  border: 3px solid #AB40FF!important;
  opacity: 1;
}

.carousel .selected {
  opacity: 1;
  border: 3px solid #AB40FF!important;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #7569A1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}