@tailwind base;
@tailwind components;
@tailwind utilities;


.polyborder {
  clip-path: polygon(20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px);
}

.polyborder-s {
  clip-path: polygon(15px 0%, 100% 0%, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0% 100%, 0% 15px);
}

.polyborder-tiny {
  clip-path: polygon(5px 0%, 100% 0%, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0% 100%, 0% 5px);
}

.polyborder-tiny2 {
  clip-path: polygon(4px 0%, 100% 0%, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0% 100%, 0% 4px);
}

.polyborder-s2 {
  clip-path: polygon(14px 0%, 100% 0%, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0% 100%, 0% 14px);
}

.tabborder {
  clip-path: polygon(13% 0%, 87% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%);
}

.poly-full {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}

.poly-top-left {
  clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 30px);
}

.poly-top-left-s {
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 20px);
}

.poly-top-right {
  clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 30px, 100% 100%, 0% 100%, 0% 0%);
}

.poly-bottom-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(0% + 30px) 100%, 0% calc(100% - 30px), 0% 0%);
}

.poly-bottom-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0% 100%, 0% 0%);
}

.poly-bottom-right-s {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 0%);
  
}

/* .poly-bottom-right-s:hover {
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 20px)!important;
} */

.poly-bottom-right-s2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0% 100%, 0% 0%);
}

/* .poly-bottom-right-s2:hover {
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 20px)!important;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Play";
  src: url("../public/assets/fonts/Play/Play-Bold.eot");
  src: local("../public/assets/fonts/Play/Play-Bold"),
    url("../public/assets/fonts/Play/Play-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/Play/Play-Bold.woff") format("woff"),
    url("../public/assets/fonts/Play/Play-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Molot";
  src: url('../public/assets/fonts/Molot.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Play";
  src: url("../public/assets/fonts/Play/Play.eot");
  src: local("../public/assets/fonts/Play/Play"),
    url("../public/assets/fonts/Play/Play.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/Play/Play.woff") format("woff"),
    url("../public/assets/fonts/Play/Play.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.carousel .slider-wrapper {
  display: none;
}

.carousel-slider {
  display: none;
}

.carousel .thumbs-wrapper {
  margin-left: 100px!important;
  margin-right: 100px!important;
}

.carousel .control-arrow {
  opacity: 1!important;
  transition: none!important;
  width: 53px;
  height: 50px;
  background-size: cover!important;
  margin-top: 0!important;
  top: 0!important;
  z-index: 0!important;
}

.carousel .control-next {
  display: block!important;
  background-image: url('../public/assets/next.png')!important;
  
}

.carousel .control-prev {
  display: block!important;
  background-image: url('../public/assets/prev.png')!important;
}

.carousel .control-arrow::before {
  content: none!important;
}

.carousel .thumb {
  margin-left: 10px;
  width: 65px!important;
  height: 60px;
  opacity: 0.4;
  border: 3px solid #AB40FF!important;
  transition: 0.3s!important;
}

.carousel .thumb:hover {
  border: 3px solid #AB40FF!important;
  opacity: 1;
}

.carousel .selected {
  opacity: 1;
  border: 3px solid #AB40FF!important;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #7569A1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.25)!important;
}

.ReactModal__Content {
  border: 3px solid #AB40FF!important;
}

@media ( max-width: 1376px ) {

  .carousel .thumbs-wrapper {
    margin-left: 80px!important;
    margin-right: 80px!important;
  }
}

.table {
  width: 100%;
}

.ledger .title {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  
}

.table {
  margin: 32px 0px;
}

.table td {
  text-align: center;
}

.table .table-header {
  font-size: 24px;
  font-family: "play";
  font-weight: 300;
}

.table td,th {
  border: 2px solid #AA9DDB;
}

.table .table-header th {
  padding: 30px 60px;
  font-weight: 300;
}

.table td {
  padding: 10px 0px;
}

.table tbody tr:nth-child(odd) {
  background-color: #AA9DDB33;
}

.table tbody td:nth-child(even) {
  color: #AB40FF;
  text-decoration: underline;
}

.pagination-status {
  display: flex;
  justify-content: center;
  margin: auto;
}

.pagination-status .pagination-status__btn {
  margin: 0px 4px;
  padding: 0px 6px;
  border: 2px solid #AB40FF;
  transition: 0.2s;
}

.pagination-status .pagination-status__btn:hover {
  background-color: #AB40FF;
}

.pagination-status .pagination-status__btn--active {
  border: 2px solid #AB40FF;
  background-color: #AB40FF;
  color: white;
}